*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--txt-color);
	font-family: Helvetica, sans-serif;
}

:root {
	--primary: rgb(18, 18, 18);
	--secondary: rgb(30, 30, 30);
	--txt-clr-scd: rgba(224, 224, 224, 0.5);
	--txt-color: rgb(224, 224, 224);
}

body {
	display: flex;
	background-color: var(--primary);
	height: 100vh;
}

/* aside styling */
aside {
	margin: 1.5rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.5rem;
	min-width: 350px;
	background-color: var(--secondary);
}

.status .icon {
	font-size: 10rem;
}

.logo {
	font-size: 1.5rem;
}

.logo-span {
	color: #4fc3f7;
}

.address-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	gap: 0.5rem;
	padding: 2rem;
	border-radius: 0.5rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); /* For Safari support */
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	gap: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); /* For Safari support */
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

hr {
	width: 100%;
}

.info-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.weather-info {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.5rem;
}

.temp {
	font-size: 7rem;
	line-height: 0.9;
}

.time {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* form styling */
form {
	display: flex;
	align-items: center;
}

input {
	width: 100%;
	padding: 0.75rem;
	background-color: var(--primary);
	border-radius: 0.5rem;
	border: 1px solid var(--txt-clr-scd);
}

input:focus {
	outline: none;
}
